fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
celery[redis]
aiosmtplib
requests
stripe
python-jose[cryptography]
passlib[bcrypt]
openai
gtts
SpeechRecognition
pydub
supabase
requests
python-twitter-v2
